// Colors

$imperial: #62466b;
$platinum: #e5e9ec;
$bubbles: #eafdf8;
$lavender: #ddcad9;
$pink-lavender: #d1b1cb;
$gray: #999;
$pink: #bc93b5;

// Spacing
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 5rem;

$desktop-breakpoint: 45rem;
